@import "../../colors.scss";
.catalog{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .catalog-container{
        width: 72%;
        display: flex;
        height: 620px;
        
        .catalog-wrapper{
            width: 346px;
            height: 100%;
            padding: 8px;
            background-color: #fff;
            
        }
        .catalog-categories-items{
           background-color: #fff;
           width: 0;
           height: 100%;
         
          p{
            visibility: hidden;
          }
        }
        
    }
    .catalog-items{
    
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 13px 8px 0;
        a{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            color: black;
            font-weight: 200;
            text-decoration: none;  
            font-size: 14px; 
        }
        .link{
            display: flex;
            align-items: center;
        }
       
        .linkItem{
            flex-wrap: wrap;
            margin: 0px 0px 0px 15px;
            &:hover{
                
                color: $color-green
            }
        }
    }
    .catalog-icon{
       width: 20px;
       height: 20px; 
    }
}
.anim{
    animation: anim .5s linear forwards;
}
@keyframes anim {
    0%{
        width: 0;
        visibility: hidden;
    }
    100%{
        visibility: visible;
      
        width: calc(100% - 346px);
    }
   
}
.anim1{
    animation: anim1 .5s linear forwards;
}
@keyframes anim1 {
    0%{
        width: 0;
        visibility: hidden;
        transform: translateX(-20px);
    }
    100%{
        visibility: visible;
        width: calc(100% - 346px);
        transform: translateX(0);
    }
    
}
.catalog-right-side{
    width: calc(100% - 346px);
    height: 100%;
    background-color: transparent;
    padding: 5px 5px 0px 5px;
    transition: all .3s ease-in-out;
   .catalog-right-side-items{
        width: 100%;
        display: flex;
       
        justify-content: space-between;
        a{
            width: 100%;
            text-decoration: none;
            color: black;
        }
       
        .right-side-item{
            width: 100%;
            padding: 8px;
            background-color: #fff;
            height: 64px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            &:hover{
                background-color:$color-gray ;
            }
        }
        a:nth-child(2){
            margin-left: 8px;
        }
        a:nth-child(3){
            margin-left: 8px;
        }
        .item-text{
            margin: 0 0 0 16px;
        }
   }
   .catalog-right-side-slider{
        width: 100%;
        height: calc(100% - 147px);
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        
        .slider-slide-wrapper{
             width: 100%;
             display: block;
             overflow: hidden;
        }
        .slider-slide-wrap {
     
             display: flex;
             
             width: max-content;
         }
         .slider-slide{
          
              width: 244px;
              height: 446px;
              border-radius: 10px;
              background-color: #fff;
              margin: 0 6px;
              overflow: hidden;
              img{
                  width: 100%;
                  height: 100%;
              }
         }
   }
   .catalog-right-side-brands{
        width: 100%;
        height: 73px;
        background-color: #fff;
        margin-top: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
   }
}
.active{
    display: none;
    transition: all .3s ease-in-out;
}
.header-delimiter{
    height: 1.8rem;
    margin: auto 0;
    border-right: 1px solid $header-delimiter;
    
 }
 .right-side-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 208px;
    margin:14px 0;
    img{
        height: 60%;
     
    }
    .catalog-right-side-brands:nth-child(0){
        img{
            height: 40%;
        }
    }
    .brand-all{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 }
