@import '../../../../../../colors.scss';
.comments-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .comments-main{
        width: 72%;
        height: 100%;
        background-color: #fff;
        margin: 0 auto;
        .comments-header{
            padding: 36px 36px 0px 64px;
            margin-bottom: 36px;
        }
        .comment{
            display: flex;
            flex-direction: column-reverse;
        }
        .comment-body{
            width: 100%;  
            padding: 0px 64px 0px 64px;
            margin-bottom: 36px;
            
        }
    }
}
.comments-body{
    display: flex;
    .comments-body-left-side{
        width: 100%;
        .l-s-stay-comment{
            margin: 0 64px 24px ;
            padding: 16px 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #F2f2f2;
            border-radius: 8px;
            h1{
                font-size: 20px;
                color: #616161;
                font-weight: 400;
              
            }
            button{
                font-size: 14px;
                padding: 8px 48px;
                background-color: #ff671f;
                color: #fff;
                outline: none;
                border: none;
                border-radius: 8px;
                cursor: pointer;
            }
        }
        .l-s-rating-and-sorting{
            margin: 0px 0px 24px;
            padding: 0px 64px;
            display: flex;
            justify-content: space-between;
            .rating{
                display: flex;
                align-items: center;
                .css-ryrseu-MuiRating-root {
                    font-size: 24px;
                    color: #ff671f;
                }
            }
            .sorting{
                display: flex;
            }
        }
    }
    .comments-body-right-side{
        max-width: 388px;
        height: 100%;
        padding: 0 32px 32px 0;
       
        .r-s-product-info{
            min-width: 356px;
            min-height: 279px;
            border: 1px solid $color-gray;
            border-radius: 10px;
            position: sticky;
            top: 8.8rem;
            padding: 16px;
            .product-info-header{
                 display: flex;
                    height: 80px;
                
                .info-header-img{
                    min-width: 8rem;
                    max-width: 8rem;
                    margin-right: 16px;
                    
                    display: flex;
                    justify-content: center;
                   
                    img{
                        object-fit: contain;
                        width: 80px;
                        height: 80px;
                    }
                }
                .info-header-title{
                    h1{
                        font-size: 18px;
                    }
                    p{
                        font-size: 10px;
                        color: #9999;
                    }
                }
                
            }
            .product-info-body-btn{
                width: 100%;
                height: 48px;
                border-radius: 8px;
                border: none;
                background-color: $primary;
                color: white;
                font-size: 16px;
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    transition: .3s;
                    cursor: pointer;
                    background-color: $color-orange;
                }
            }
            .product-info-body{
                margin-top:24px ;
            }
        }
    }
}
.catalog-active{
    display: block;
}
.catalog-default{
    display: none;
}