.headerBanner{
   width: 100%;
   
    .headerBanner-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .headerBanner-wrapper{
            width: 72%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
            img{
                width: 100%;
                height: 100%;
            }
               
                
           
        }
    }
}