@import "../../colors.scss";
footer{

}
.footer-box {
    width: 100%;

}
.footer-upper-box {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid $color-alt-gray;
    border-bottom: 1px solid $color-alt-gray;
   
}
.box-items {
    display: flex;
    justify-content: space-between;
   
    width: 72%;
    margin: 0 auto;
}
.item {
    display: flex;
    justify-content: space-between;
    
    padding: 15px 0;
    width: calc(25% - 15px);
}
.text-content{
    margin-left: 10px;
    .text-content-title{
        font-size: 16px;
        font-weight: 600;
    }
    .text-content-subtitle{
        padding: 4 0 0 ;
        font-size: 14px;
    }
}
.footer-down-box {
    
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid $color-alt-gray;
}
.down-box{
    width: 72%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.down-box-left-content {
    padding: 24px 0;
}
.QR-code {
    width: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 1px solid $color-alt-gray ;
    border-radius: 8px ;
}
.sendEmail {
    width: 312px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid $color-alt-gray ;
    border-radius: 8px ;
    .sendEmail-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 2rem;
    }
    .sendEmail-subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 2rem;
       
    }
}
.down-box-center-content-container {
    width: 100%;
    margin-left: 70px;
    padding: 24px 0;
    .box-center-content{
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
    }
    ul{
        width: calc(25% - 10px);
        li{
            text-decoration: none;
            list-style: none;
            font-size: 14px;
            margin-top: 12px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        .number{
            font-size: 24px;
            color: #43b02a;
            font-weight: 600;
            &:hover{
                text-decoration: underline;
                text-decoration-color: #43b02a;
            }
        }
        .title{
            margin-top: 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 2rem;
        }
        
    }
    .number{
        font-size: 24px;
        color: #43b02a;
        font-weight: 600;
        &:hover{
            text-decoration: underline;
            text-decoration-color: #43b02a;
        }
    }

}
.social-nav{
    .social-item{
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
}

.email{
    margin-top: 12px;
 padding: 0 12px;
 height: 40px;
 border: 1px solid $color-border-color;
 border-radius: 5px;
 outline: none;
 font-size: 16px;
 cursor: pointer;

 &::placeholder{
    color: $color-alt-gray;
 }
}

.submitBtn{
    outline: none;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
    padding: 11px;
    background-color: $color-green;
    cursor: pointer;
}
.footer-bottom-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 60px;
    .footer-bottom{
        width: 72%;
        padding: 8px 0px;
        gap: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
     .footer-bottom-cards{
        display: flex;
        width: 50%;
        div{
            width: 96px;
            height: 36px;
            border: 1px solid $color-alt-gray;
            border-radius: 10px;
        }
        .footer-bottom-card-visa{
            background: 50%/50% no-repeat url(./../../assets/footer-icon/visa.svg) ;
        }
        .footer-bottom-card-masterCard{
            margin-left: 16px;
            background: 50%/50% no-repeat url(./../../assets/footer-icon/masterCard.svg);
        }
    }   
    .social-connection{
        display: flex;
        img{
            margin-right: 20px;
        }
    }
    }
}
