$primary: #43b02a;
$secondary: #26a69a;
$accent: #9c27b0;
$dark: #1d1d1d;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$color-black: #000;
$color-light-black: #313131;
$color-white: #fff;
$color-pearl-white: #f8f8ef;
$color-light-green: #57ba41;
$color-green: #43b02a;
$color-middle-green: #3ba724;
$color-dark-green: #379424;
$color-orange: #ff671f;
$color-light-orange: #fdae55;
$color-dark-orange: #e25c1d;
$color-light-gray: #f2f2f2;
$color-gray: #ccc;
$color-alt-gray: #c4c4c4;
$color-middle-gray: #999;
$color-dark-gray: #616161;
$color-red: #ff090b;
$color-gainsboro: #e2e2e2;
$color-border-color: #e5e5e5;
$color-light-blue: #0101ef;
$color-alabasterapprox: #f8f8f8;
$color-silver: silver;
$color-alto: #e0e0e0;
$color-de-york: #89c683;
$color-spring-rain: #afd0ac;
$color-zanah: #dbf0d9;
$color-mine-shaft: #383838;
$color-mercury: #e6e6e6;
$color-feijoa: #8fd289;
$color-crusoe: #1c5a10;
$color-text: #000;
$color-link: #313131;
$color-gallery: #f0f0f0;
$color-tab-item: #6a6a6a;
$color-tab-item-hover: #000;
$color-tab-item-actve: #ff671f;
$color-tab-counter-mobile: #41b02a;
$color-kidnapperapprox: #e9f1e0;
$color-tag-text: #616161;
$background-page: #f2f2f2;
$background-header: #fff;
$background-content: #fff;
$header-delimiter:#e5e5e5;
$header-bottom-bg: #43b02a