@import "../../colors.scss";
.second-header{
    width: 100%;
    height: 56px;
    background: $header-bottom-bg;

    .second-header-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        .second-header-wrapper{
            margin: 0 auto;
            width: 72%;
            height: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    .second-header-catalog{
        width: 27%;
        height: 100%;
        background:#379424 ;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;



        .catalog{
            width: 100%;
            display: flex;          
            justify-content: space-between;
        
            align-items: center;
           .catalog-header{
                width: 90%;
                display: flex;
                align-items: center;
           }
           .catalog-header-icon{
                width: 10%;

            display: flex;
                align-items: center;
           }
        }
        p{  

            font-size: 15px;
            font-weight: 500;
            color: $color-pearl-white;
        }
        .first-icon{
            width: 20px;
            height: 20px;
            margin: 10px 10px 10px 20px;
        }
        .second-icon{
            width: 20px;
            height: 20px;
        }
        
    }




    .second-header-items{
        width: 20%;
        display: flex;
        justify-content: space-between;
    }
    .second-header-search{
           width: 60%;
            position: relative;
            padding: 8px 15px 0 30px;
           
        input{
            width: 100%;
            outline: none;
            border: none;
            padding: 10px 33px 10px 12px;
            border-radius: 5px;
        }
        img{
            position: absolute;
            top:calc(50% - 10px);
            right: calc(10% - 50px);
            width: 20px;
            height: 20px;
            
        }
    }
  
    .second-header-login{
        display: flex;
        align-items: center;
        a{
            color: $color-white;
            text-decoration: none;
            background-color:  $color-middle-green;
            padding: 8px 10px;
            border-radius:0.4rem ;
            &:hover{
                background-color: $color-dark-green;
            }
        }
    }
    .second-header-like{
  
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 21px;
            height: 18px;
        }    
    }
    .second-header-basket{
     
        height: 100%;
        padding: 20px;
        background-color: $color-dark-green;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: $color-white;
        }
    }
}